force-app/main/default/flows/Customer_Lifetime_Value_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>After-save Record-Triggered Flow to maintain customer lifetime value calculations and tier assignments when orders are created or updated</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedCustomerTier</name>
        <dataType>String</dataType>
        <expression>IF({!GetCustomerRecord.Total_Order_Value__c} &gt;= 100000, "Platinum",
IF({!GetCustomerRecord.Total_Order_Value__c} &gt;= 25000, "Gold",
IF({!GetCustomerRecord.Total_Order_Value__c} &gt;= 5000, "Silver", "Bronze")))</expression>
    </formulas>
    <interviewLabel>Customer Lifetime Value After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Lifetime Value After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCustomerRecord</name>
        <label>Get Customer Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCustomerOrders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCustomerOrders</name>
        <label>Get Customer Orders</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCustomerAnalytics</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Order_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCustomerAnalytics</name>
        <label>Update Customer Analytics</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Count__c</field>
            <value>
                <elementReference>GetCustomerOrders</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Order_Value__c</field>
            <value>
                <elementReference>GetCustomerOrders.Total_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Order_Date__c</field>
            <value>
                <elementReference>$Record.Order_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Tier__c</field>
            <value>
                <elementReference>CalculatedCustomerTier</elementReference>
            </value>
        </inputAssignments>
        <object>Customer__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCustomerRecord</targetReference>
        </connector>
        <object>Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
